ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}
ion-button{
    --background: var(--ion-color-secondary);
    --color:var(--ion-color-dark);
    --border-radius: 29.5px;
    font-weight:700;
    --padding-bottom:20px;
    --padding-top:20px;
}
ion-item{
    --padding-start: var(--ion-no-padding)
}
