ion-toolbar {
    --ion-background-color: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
}
.ios ion-toolbar{
    --color: var(--ion-color-primary);
    --padding-bottom: 9px;
    --padding-top:9px;
}

ion-item{
    --padding-start: var(--ion-no-padding)
}
.image-modal .modal-wrapper {
    background-color: transparent;
}

@media (max-width: 680px){
    .image-modal .modal-wrapper{
        --max-height: 45vh;
    }
}

.my-custom-interface .select-interface-option{
    color:var(--ion-color-dark);

}
.my-custom-interface .select-interface-option ion-ripple-effect {
    border-bottom: 1px solid var(--ion-color-light);
}
.my-custom-interface .action-sheet-button.sc-ion-action-sheet-ios:not(.select-interface-option){   
    color:var(--ion-color-danger);
}
.my-custom-interface .action-sheet-button.sc-ion-action-sheet-md:not(.select-interface-option){   
    color:var(--ion-color-danger);
    font-weight: 700;
    border-top: 1px solid var(--ion-color-light);

}
